@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);

#container {
    text-align: center;
    white-space: nowrap;
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}
#chart {
    height: 200px;
    margin-bottom: 40px;
}
.legendNav {
    font-size: 24px;
    display: inline-block;
}
.legendNav:hover {
    font-weight: bold;
}
#legendPrev {
    position: absolute;
    left: 20px;
    top: -10px;
}
#legendNext {
    position: absolute;
    right: 20px;
    top: -10px;
}
.legend-group{
    display: inline-block;
    width: 100px;
}
#legend {
    position: relative;
    padding-top: 5px;
    font-size: 13px;
    bottom: 5px;
    text-align: left;
    padding: 0px;
}
#legend ul {
    list-style: none;
    text-align: center;
    height: 24px;
    padding-left: 0;
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
}
#legend li {
    padding-right: 0;
    cursor: pointer;
    font-size: 13px;
    display: inline-block;
    width: 160px;
    overflow: hidden;
    letter-spacing: 1px;
}
#legend li span {
    padding: 2px 4px;
    pointer-events: none;
}
.legend-line {
    margin-left: 8px;
    vertical-align: right;
    font-size: 14px;
    line-height: 13px;
}
#slider-items, #slider-rows {
    margin: 10px 0;
    max-width: 300px;
}
.d3-slider {
    border: 1px solid black;
}
.d3-slider-handle {
    border: none;
    background: black
}
.d3-slider-handle:hover {
    border: 1px solid black;
}